<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />

    <title>Club</title>
  </head>
  <body>
    <header>
      <% if (currentUser) {%>
      <h1>Welcome back <%= currentUser.name %>!</h1>
      <div class="nav">
        <a href="/log-out">
          <button>Log out</button>
        </a>
        <% if (currentUser.membership) { %>

        <div>
          <img src="/premium.png" alt="" />
        </div>

        <% } else { %>
        <a href="/request-membership">
          <button>Become a member</button>
        </a>
        <% } %>
      </div>

      <% } else {%>
      <h1>Welcome to the club</h1>
      <div class="nav">
        <a href="/log-in">
          <button>Log in</button>
        </a>

        <a href="/sign-up">
          <button>Sign up</button>
        </a>
      </div>

      <% } %>
    </header>

    <div class="container">
      <h2>Messages Board</h2>
      <% if (currentUser) {%>
      <a href="/new-message">
        <button id="new-message">New message</button>
      </a>

      <% } %> <% if (currentUser && currentUser.membership) {%> <%
      messages.forEach((message) => { %>
      <div class="message">
        <h3><%= message.title %></h3>
        <p class="time">
          Posted at <%= message.time %> by <%= message.author_name %>
        </p>
        <p><%= message.text %></p>
      </div>
      <%})%>
    </div>
    <% } else { %> <% messages.forEach((message) => { %>
    <div class="message">
      <h3><%= message.title %></h3>
      <p class="time">Posted at <%= message.time %></p>
      <p><%= message.text %></p>
    </div>
    <%})%> <% } %>

    <footer>
      designed by
      <a id="github" href="https://github.com/dasha-solomkina"
        >dasha-solomkina</a
      >
    </footer>
  </body>
</html>
